body {
    background-color: #FFF8DC;
}

.header-panel {
    weight: 100%;
    height: 50px;
}

.add-contact {
    float: right;
}

td {
    text-align: right;
}

.action {
    text-align: center;
}

.table {
    font-weight: bold;
}